<div class="center jumbotron">
  <h1>Welcome to Sample Work Demo On OnGraph Technologies,Jaipur</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Work On Ruby on Rails</a>
    First Application
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>

<marquee><%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
         <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
         <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
         <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
         <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
         <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
         <%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
            </marquee>